<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link th:href="@{/asserts/css/index.css}" rel="stylesheet">-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<!--    <link th:href="@{../asserts/css/bootstrap.min.css}" rel="stylesheet">-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body background="https://i1.100024.xyz/i/2020/08/25/cfcjs0.png" >

    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-4 column">

<!--                    <img alt="140x140" style="float: left;" th:src="@{/asserts/img/timg.png}"  width="60"class="img-circle" />-->
<!--                    <img class="mb-4" style="float: left;"  src="https://i1.100024.xyz/i/2020/08/25/c4fb7b.png"  width="40" height="40">-->
<!--                    <div style="height:10px; line-height:10px; padding-left:65px;-->
<!--                            background:url(https://i1.100024.xyz/i/2020/08/25/c4fb7b.png)  no-repeat left center">-->
<!--                        <span>这里是文字,看看文字对齐了没(只适用于单行文字)</span>-->
<!--                    </div>-->

                </div>
				<div class="col-md-4 column">
                    <img  style="vertical-align:middle;"  src="https://i1.100024.xyz/i/2020/08/25/c4fb7b.png"  width="40" height="40">
					 <h3   class="text-center">
						RedHat纳新系统
					</h3>
				</div> 
				
			</div>
			<div class="jumbotron">
				<h1>
					RedHat工作室
				</h1>
				<p>
					一个专注于技术学习，和研究的实验室。为您提供良好的学习环境，比赛指导。
				</p>
				
			</div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <form th:action="@{/success}" method="post">
                    <div class="form-group">
                        <label>名字</label>
                        <input type="text" name="name" class="form-control" placeholder="填入名字">
                    </div>
                    <div class="form-group">
                        <label>性别</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="1">
                            <label class="form-check-label">男</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" value="0">
                            <label class="form-check-label">女</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>年龄</label>
                        <input type="text" name="age" class="form-control"  placeholder="写一下年龄吧">
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <select class="form-control" name="major">
                            <option th:each="dept:${departments}" th:text="${dept.getDepartmentName()}"th:value="${dept.getDepartmentName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>学号</label>
                        <input type="text" name="sno" class="form-control" placeholder="学号要记住嗷" >
                    </div>
    
                    <div class="form-group">
                        <label>自我介绍</label>
                        <input type="text" name="introduction" class="form-control" placeholder="介绍一下自己吧">
                    </div>
    
    <!--                <div class="form-group">-->
    <!--                    <label>department</label>-->
    <!--                    <select class="form-control" name="department.id">-->
    <!--                        <option th:each="dept:${departments}" th:text="${dept.getDepartmentName()}"th:value="${dept.getId()}"></option>-->
    
    <!--                    </select>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->
    <!--                    <label>Birth</label>-->
    <!--                    <input type="text" name="birth" class="form-control" placeholder="嘤嘤嘤">-->
    <!--                </div>-->
                    <button type="submit" class="btn btn-primary " >提交报名信息</button>
                </form>
            </main>
		</div>
	</div>
</div>
</body>
</html>